@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.block-container {
  padding-left: 70px;
  padding-right: 70px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}

.button-basic:hover {
  background: #615048;
}

.button-second {
  background: #82B3D3;
}

.button-second:hover {
  background: #68A2CA;
}

.button-in-favorites:hover {
  background: #6C9E42;
}

/*Header*/
.main-header-logo {
  width: 140px;
  margin-right: 30px;
  margin-bottom: -6px;
  display: block;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link-search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.navigation-link-likes {
  position: relative;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
  margin-right: 20px;
}

.likes-number {
  position: absolute;
  top: 11px;
  left: 20px;
  min-width: 20px;
  min-height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 5px 5px 5px 4px;
}

.navigation-button {
  padding: 8px 34px;
}

.hero {
  padding-top: 51px;
  background-image: url("../images/hero/zigzag.svg"), url("../images/hero/background-hero.jpg");
  min-height: 485px;
  background-position: bottom -1px center, center top;
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-color: rgba(131, 179, 211, 0.2);
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.advantages-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 69px auto 25px;
}

.advantages-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto 90px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  list-style-type: none;
  text-align: center;
  min-height: 384px;
  flex-grow: 1;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 62px;
  position: relative;
}

.advantages-title::before {
  position: absolute;
  top: 86px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.small-advantage .advantages-title::before {
  background-color: rgba(0, 0, 0, 0.3);
}


.advantages-description {
  margin: 0 auto;
}

.big-advantage {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.big-advantage-container {
  max-width: 400px;
  padding: 92px 85px 111px;
}

.small-advantage {
  max-width: 400px;
  padding: 103px 85px 121px;
}

.small-advantage .advantages-description {
  color: #333333;
}

.small-advantage:nth-of-type(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.small-advantage:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.interesting-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.interesting-item {
  list-style-type: none;
  text-align: center;
  min-height: 384px;
  max-width: 400px;
  padding: 80px 85px 81px;
  flex-grow: 1;
  background-position: top 80px center;
  background-repeat: no-repeat;
}

.interestins-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 102px auto 30px
}

.interesting-description {
  color: #333333;
  margin: 0 auto;
}

.interesting-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.housing {
  background-image: url("../images/interesting/housing.svg");
}

.food {
  background-image: url("../images/interesting/food.svg");
}

.gift {
  background-image: url("../images/interesting/gift.svg");
}

.search {
  text-align: center;
  padding: 96px 304px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.subscribe {
  background-image: url("../images/background/background-subscribe.jpg");
  min-height: 415px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #333333;
  text-align: center;
  color: #FFFFFF;
  padding: 96px 258px 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 54px;
}


.form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}


.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 142px 720px 115px;
  gap: 41px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}

.footer-social-link {
  position: relative;
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.footer-social-link:hover .social-link-icon {
  fill: #68A2CA;
}

.footer-social-link:active .social-link-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-tel {
  text-align: center;
}

.footer-address {
  padding: 5px 194px;
}

.footer-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.footer-address-phone:hover {
  color: #756157;
}

.footer-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-html {
  padding: 8px 0;
}

.htmlacademy-link {
  position: relative;
  display: block;
  min-width: 115px;
  min-height: 33px;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

/*Catalog-filter*/
.inner-header {
  background-image: url("../images/background/background-filter.jpg");
  min-height: 412px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.home-link {
  display: block;
  min-width: 13px;
  min-height: 21px;
  background-image: url("../images/icons/home-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px 0;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 28px;
}

 .breadcrumbs-item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -17px;
  width: 8px;
  height: 11px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.infrastructure {
  margin-right: 70px;
}

.type-of-housing {
  margin-right: auto;
}

.price-field {
  margin-right: 70px;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit {
  padding: 8px 50px;
  margin-bottom: 32px;
  margin-top: auto;
}

.button-reset {
  background-color: transparent;
  padding: 8px 57px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
}

.button:disabled {
  opacity: 0.1;
}

/*View*/
.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.catalog-view-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333333;
  min-width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
  /*Arrow-down padding: 14px 131px 14px 20px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 13px 7px;
  background-position: center right 20px; */
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.catalog-hotels-view {
  min-width: 160px;
  display: flex;
  flex-wrap: wrap;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.button-view {
  fill: #000000 ;
}

.card-grid-toggle-current {
  border-color: #000000;
}

.card-grid-toggle:hover {
  border-color: #000000;
}

.card-grid-toggle:focus {
  border-color: #68A2CA;
}

.card-grid-toggle:active {
  border-color: #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}

.hotel-card {
  list-style-type: none;
  max-width: 340px;
  min-height: 438px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
}

a.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-image {
  object-fit: contain;
  display: block;
}

.hotel-card-type {
  color: #333333;
  margin: 0;
}

.hotel-card-price {
  color: #333333;
  margin: 0;
  text-align: end;
}

.button-more {
  padding: 8px 26px;
}

.button-to-favorites {
  padding: 8px 20px;
}

.button-in-favorites {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.rating {
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  padding: 8px 22px;
  margin: 0;
}

.star {
  margin: 0;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: left center;
}

.four-stars {
  width: 90px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item .pagination-current {
  background-color: #F2F2F2;
  color: inherit;
}

.pagination-item .pagination-other {
  background-color: inherit;
  color: inherit;
}

.subscribe-inner {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
}

.subscribe-description-inner {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto 54px;
}
